.background-grid {
  background-image: linear-gradient(#0f172a 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #0f172a calc(100% - 0.5px)), linear-gradient(90deg, #0f172a 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #0e182a calc(100% - 0.5px));
  background-size: 10% 150%;
  border: 1px solid #0f172a;
}

::selection {
  background: rgba(5, 150, 105, 0.5); /* Background color */
  color: #6ee7b7; /* Text color */
}

.body {
  font-family: 'Inter', sans-serif;
}